<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Edit user</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/put-crud" method="POST">
                <div class="form-row">
                    <div class="col-12">Edit user information</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name:</label>
                            <input type="text" class="form-control" name="firstName" placeholder="First Name"
                                value="<%=user.firstName%>">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name:</label>
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                                value="<%=user.lastName%>">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Address:</label>
                            <input type="text" class="form-control" name="address" placeholder="Address"
                                value="<%=user.address%>">
                        </div>
                    </div>
                    <input hidden type="text" name="id" value="<%=user.id%>">
                    <button style="margin-top:20px" type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</body>

</html>